# Переменные окружения
.env
.env.local
.env.production

# Скомпилированные бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib
Synapse_server

# База данных
*.db
*.db-journal
*.db-shm
*.db-wal

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Зависимости Go (если используете vendor)
vendor/